# This file is loaded with `direnv`.
# It enters you into the poetry venv.

poetry run true # create venv if it doesn't exist
export VIRTUAL_ENV=$(poetry env info --path)
export POETRY_ACTIVE=1
PATH_add "$VIRTUAL_ENV/bin"
